# ========== Python ==========
__pycache__/
*.pyc

# ========== IDE ==========
.idea/
.claude/
CLAUDE.md
# ========== Output ==========
result/
vis/

# ========== Obsidian ==========
hatnet/

# ========== Models ==========
*.pth
*.pt
*.bin
*.safetensors

# ========== COCO / eval cache ==========
#coco-caption/pycocoevalcap/spice/cache/
#coco-caption/results/

# ========== OS ==========
.DS_Store

# ========== data ==========
/data/
/datasets/

# ========== xlsx ==========
*.xlsx